.form-container {
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
}

#form-ips {
  width: 40%;
  border: 1px solid #22222230;
  border-radius: 0.5rem;

  padding: 0.5rem 1rem;

  display: grid;
  place-items: center;

  border: 1px solid #22222230;
  border-radius: .5rem;
}

.title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-check {
  width: 80%;
}

.form-control {
  width: 100% !important;
}

.grid-3 {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-group {
  width: 80%;
}
