<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{{url_for('static', filename='src/engeneering/register_parameters/style.css')}}" />
</head>

<body>
  <div class="form-container">
    <form id="form-param">
      <h1 class="title">Cadastro de Parâmetros</h1>
      <select class="form-select form-select-lg mb-3" id="params" aria-label="Default select example">
        <option selected></option>
      </select>
      <div class="form-group">
        <div class="mb-3">
          <label for="param" class="form-label">Parâmetro</label>
          <input type="text" class="form-control js-kioskboard-input" id="param" placeholder="Nome do parâmetro..." />
        </div>
        <div class="mb-3">
          <label for="memoria" class="form-label">Memória</label>
          <input type="text" class="form-control js-kioskboard-input" id="memoria" placeholder="0.0" />
        </div>
      </div>
      <div class="grid-3">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <div id="update_param" class="btn btn-warning">Atualizar</div>
        <div id="delete_param" class="btn btn-danger">Deletar</div>
      </div>
    </form>
  </div>

  <script src="{{url_for('static', filename='src/engeneering/register_parameters/main.js')}}"></script>
</body>

</html>